:root{
    --white:#fff;
    --purple:#8a70d6;
    --light-purple:#e9e3ff;
    --dark:#424040;
    --light-gray:#fbfbfb;
    --gray:#8e8e8e;
    --paragraph: #534f5a;
    --blue: #579be4;
    --orange:#fcab5e;
    --light-orange:#fff0e1;
    --light-blue:#e5f3fe;
    --light-green:#97e1ca;
    --pink:#e393da;
    --light-pink:#ffe4fd;
    --progress-bar:#e1e1e1;
}